.love-btn {
    font-size: 24px;
    position: absolute;
    bottom: 16px;
    right: 32px;
    cursor: pointer;
    transition: all .15s ease-out;
}

.love-btn.active,
.favorite-btn.active {
    transform: scale(1.15);
    font-weight: 600;
    color: red;
}

.love-btn:hover,
.favorite-btn:hover {
    color: red;
}

.favorite-btn {
    font-size: 24px;
    position: absolute;
    right: 44px;
    cursor: pointer;
    transition: all .15s ease-out;
}